<%= form_for :dump, url: { action: "import_csv" }, html: { multipart: true } do |f| %>
  <fieldset class="inputs">
    <legend>
      <span>CSV Upload</span>
    </legend>
   <ol>
     <li class="file input required">
        <%= label_tag  "dump_file", "Select a CSV File" %>
        <%= f.file_field :file %>
     </li>
     <%= render partials[:form] if partials.present? && partials[:form].present? %>
   </ol>
   <ol>
     <li>
       <%= submit_tag 'Submit' %>
     </li>
   </ol>
  </fieldset>
  <% if columns.any? %>
    <fieldset class="inputs">
      <legend>
        <span>Columns</span>
      </legend>
    <% columns.each do |column| %>
      <ol>
        <% if column.is_a?(Array) %>
          <li><%= column.first %></li>
          <li><%= column.last %></li>
        <% else %>
          <li><%= column %></li>
        <% end %>
      </ol>
    <% end %>
    </fieldset>
  <% end %>
<% end %>
<%= render partials[:bottom] if partials.present? && partials[:bottom].present? %>
